<div class="page-header">
	<h1>
		Event Attendees
	</h1>
</div>

<div id="statistics">
	<h4>Attendees: {{ attendees.count }}</h4>
</div>

<div class="jumbotron text-center" ng-show="attendees.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Attendees...</p>
</div>

<table class="table table-bordered table-striped" ng-show="attendees.users">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Employee Number</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in attendees.users">
			<td>{{ person.first }} {{ person.last }}</td>
			<td>{{ person.email }}</td>
			<td>{{ person.employeeId }}</td>
			<td class="col-sm-2">
				<a href="#" ng-if="!attendees.isSignedIn(person._id)" ng-click="attendees.signInUser(person._id)" class="btn btn-success">Sign In</a>
				<a href="#" ng-if="attendees.isSignedIn(person._id)" ng-click="attendees.signOutUser(person._id)" class="btn btn-danger">Sign Out</a>
			</td>
		</tr>
	</tbody>
</table>
